@page "/"

<PageTitle>Index</PageTitle>

<h1>Michel Jurado</h1>
<h2>Calendly API</h2>
<h3>This project uses the Calendly API to grab all events and inputs them into a custom calendar. The calendar goes forward and backwards through the months and has onclick functions to get the previous or upcoming events in Calendly.</h3>




